.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

h3.head-text {
    white-space: nowrap;
    color: var(--white-black);
    font-size: 20px;
    margin-top: -2rem;
}

.app__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.app__profile-item:hover .card-image {
    transform: scale(1.15);
}

.app__profile-item {
    margin: 1rem;
    width: 220px;
    height: 350px;
    background-color: #333;
    border-radius: 0px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
        transition: transform 0.75s;
    }
    .bold-text {
        position: absolute;
        left: 15px;
        bottom: 15px;
        font-size: 22px;
        font-weight: 500;
        font-family: 'TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif';
        color: #fff;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }
    .arrow {
        width: 0%;
        float: right;
    }
    .p-text {
        position: absolute;
        left: 15px;
        bottom: 30px;
        font-size: 16px;
        color: #fff;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    }
    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;
        img {
            height: 320px;
        }
    }
    @media screen and (max-width: 480px) {
        width: 470px;
        // margin: 2rem 4rem;
        img {
            height: 350px;
        }
    }
}

.app__profile-itemTwoCol {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    img {
        width: 600px;
        height: 200px;
        //border-radius: 15px;
        object-fit: cover;
    }
    @media screen and (min-width: 2000px) {
        width: 370px;
        // margin: 2rem 4rem;
        img {
            height: 350px;
        }
    }
    @media screen and (max-width: 480px) {
        width: 400px;
        //margin: 2rem 4rem;
        img {
            //n width: 400px;
            height: 200px;
        }
    }
}