    .app__about {
        flex: 1;
        width: 100%;
        flex-direction: column;
        margin-bottom: 6rem;
        margin-top: 3rem;
    }
    
    .card {
        // width: 97%;
        margin: 0;
        box-shadow: none;
        @media screen and (max-width: 768px) {
            width: 98%;
            height: 580px;
        }
        @media screen and (min-width: 768px) and (max-width: 1079px) {
            width: 260px;
        }
    }
    
    p.head-text {
        // white-space: nowrap;
        color: var(--white-black);
        font-size: 16px;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        inline-size: 700px;
        overflow-wrap: break-word;
    }
    
    .app__profile {
        display: flex;
        flex-wrap: wrap;
        // display: grid;
        // gap: 1rem;
        // grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }
    
    .app__profile-item:hover .card-image {
        transform: scale(1.15);
    }
    
    .app__profile-item {
        margin: 1rem;
        width: 240px;
        height: 380px;
        background-color: #333;
        border-radius: 5px;
        outline: 2px solid rgb(255, 255, 255);
        outline-offset: -10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.6;
            transition: transform 0.75s;
        }
        .bold-text {
            font-size: 40px;
            font-weight: 400;
            font-family: var(--font-header);
            // font-family: 'TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif';
            color: #fff;
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
        }
        .bold-text::first-letter {
            font-size: 130%;
            // color: #000080;
        }
        .title {
            position: absolute;
            font-size: 20px;
            color: #fff;
            left: 50%;
            top: 70%;
            transform: translate(-50%, -70%);
            span {
                display: inline-block;
                margin: 0px 40%;
                font-size: 25px;
            }
        }
        @media screen and (min-width: 2000px) {
            // width: 300px;
            margin: 0rem 1rem;
            img {
                height: 380px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1079px) {
            width: 250px;
        }
        @media screen and (max-width: 768px) {
            width: 97%;
            height: 450px;
            img {
                height: 500px;
            }
        }
    }
    
    .box {
        opacity: 1;
        padding-left: 10px;
        inline-size: 265px;
        overflow-wrap: break-word;
        font-family: "Poppins", sans-serif;
        font-size: 11px;
        color: black;
        box-shadow: none;
        button {
            font-weight: 700;
            border: 0;
            font-size: 12px;
            color: #000;
            background-color: #fff;
        }
        button:hover {
            background-color: #fff;
            color: rgb(47, 47, 47);
            font-size: 12.5px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .box {
            // margin-right: 1rem;
            padding: z0px;
            inline-size: 350px;
            overflow-wrap: break-word;
            font-family: "Poppins", sans-serif;
            color: black;
        }
        p.head-text {
            font-size: 14px;
            inline-size: 330px;
            margin: 0px 0px 20px 10px;
            margin-bottom: -3rem;
        }
    }