.app__works {
    flex: 1;
    width: 100%;
    flex-direction: column;
    img {
        height: 500px;
        object-fit: cover;
    }
}

.app__work-filter {
    font-family: 'TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif';
    background-color: rgb(255, 255, 255);
    color: #111;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -2rem 0 2rem;
    .app__work-filter-item {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        height: 40px;
        width: 100px;
        background-color: rgba(140, 138, 138, 0.751);
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;
        &:hover {
            background-color: var(--secondary-color);
            color: #fff;
        }
        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }
    .item-active {
        background-color: var(--secondary-color);
        color: #fff;
    }
}